[2016-05-15 04:00] MikeOntry opened #9 "How do you get this to work?"
I've got your files in a directory on my computer. I've installed node.js. I imported the dependencies with `npm install`. When I try to start it up with `npm start` I get this error:

[code]

I'm a very very new to node.js and Mongo. I only started really looking at them because of this. Help please! :+1:

[2016-05-15 04:22] MikeOntry commented on #9
OK. I figured out I have to install MongoDB also. I can now go to `localhost:8085` and see

[code]

Now I just need to figure how to actually get data from it.

[2016-05-15 15:55] martincarrera commented on #9
It´s currently under development, so it does not have any data and there is no documentation.

You could upload data via POST to each of the routes (cards, chests, players or arenas).

If you are not familiar with REST APIs, I recommend you to read this. [Teach a dog to REST](http://es.slideshare.net/landlessness/teach-a-dog-to-rest)

As soon as I finish this I will write more docs and create all

[2016-05-15 15:55] #9 closed

[2016-05-23 00:04] ronnyrolim opened #13 "how to use?"
please give me more information on how to use this tool .

what language is that? javascript?

I have a website clash royale and would like to use

[2016-05-23 00:27] martincarrera commented on #13
It´s currently under development, as soon as I finish with it I will upload docs explaining how to use it correctly.

It´s written in nodejs, and it´s a REST API so you can get all the information relative to Clash Royale.

I will close this issue, please check in the next couple of days for news and explanation on how to use.

Thanks!

[2016-05-23 00:27] #13 closed

[2016-06-03 02:54] chanyap92 opened #19 "cards details information need."
just found this good api but now it is only contain super basic information.
if card details information is provided then i will be start developing a webapp with this api.
for example pass in card id to get detail information of the card in a list by card level

[2016-06-03 12:36] martincarrera commented on #19
Hi!

I've just released the v1 of the API with really basic information 2 days ago.

I'm working in the next version with all the card's information and some useful new features.

Please feel free to start developing your webapp and check in the next couple of days for updates.

[2016-06-08 18:49] #19 closed

[2016-08-10 00:14] yorkfx opened #23 "Suggest =)"
[{
	"Name": "Archers",
	"idName": "archers",
	"Rarity": "Common",
	"type": "Troop",
	"Cost": "3",
	"Range": "5",
	"DeployTime": "1",
	"HitSpeed": "1.2",
	"arena": 0,
	"elixirCost": 3,
	"description": "A pair of unarmored ranged attackers. They'll help you with ground and air unit attacks, but you're on your own with coloring your hair.",
	"statistics": 	[
		{"Levels": "1", "Hitpoints":"125", "Dama

[2016-08-30 07:57] keimlink opened #24 "Release on npm"
Thanks for the great project! 👍 Can you please release it on npm? This would make the installation a lot easier. Thanks in advance!

[2016-09-02 13:36] lucascampelo commented on #23
+1

[2016-09-02 13:45] lucascampelo opened #25 "Translations"
Great job @martincarrera! I would suggest adding support for i18n translations on your API. Maybe passing an argument on the header or query params to set the language that the client wants to receive.

[2016-09-06 18:25] martincarrera commented on #25
I'm sorry but I won't add support for translations.

It requires handling a lot more information that what I can cover.

I'm sorry!

[2016-09-06 18:25] #25 closed

[2016-09-06 18:37] martincarrera commented on #24
I'm sorry but the idea of the API is just to consume the endpoints with the data and not to host it.

If you want to submit a PR, you have to clone the repository.

[2016-09-06 19:01] keimlink commented on #24
Sorry! I thought this was an API client.

[2016-09-20 13:11] martincarrera opened #27 "Update API"
The API should have all the new chests and cards available in the September 19th update.

[2016-09-22 01:55] hiimivantang commented on #27
agree

[2016-09-24 20:56] martincarrera commented on #27
Mega minion and Inferno dragon added.

[2016-09-27 18:15] matthewting commented on #27
If somewhat you can get an api to search open public tournment, that will be super.. lol thanks for the effort!

[2017-01-06 13:38] amirm3hdi commented on #27
@martincarrera Why the graveyard is 404?
http://www.clashapi.xyz/images/cards/graveyard.png

[2017-01-06 14:00] martincarrera commented on #27
The API is out to date. I will update it later today. I will let you know when updated. Thanks for your comment @amirm3hdi!

[2017-01-07 02:02] amirm3hdi commented on #27
@martincarrera Also the **Inferno Dragon**'s image has no padding around it:
http://www.clashapi.xyz/images/cards/inferno-dragon.png

[2017-01-07 02:05] amirm3hdi commented on #27
Wow, I just checked couple of other images, many of the card images have different padding... WTF :laughing:
Please fix it.

[2017-01-07 04:07] amirm3hdi commented on #27
I've found some images without any spaces all good!
Check graveyard out: http://clashroyale.news/img/cards/g/55.png
Here's the whole web: http://clashroyale.news/random-deck/arena-5.php

[2017-01-07 13:16] amirm3hdi commented on #27
Also, rages spell elixir cost is outdated.

[2017-01-09 14:39] martincarrera commented on #27
Hi guys,

First of all, thanks to all for your comments.

I'll update all the wrong information soon, sorry for the delay!

[2017-01-10 19:30] martincarrera opened #28 "Order collections before returning data"
The collections should be ordered by level, arena, etc.

[2017-01-18 23:23] iZume opened #29 "how works this api?"
what is the mechanism? where is data which get the script?

[2017-01-19 14:20] gillchristian commented on #29
Hi @iZume, thanks for asking.

This is a RESTfull API. It is running at [`www.clashapi.xyz`](http://www.clashapi.xyz/). So you don't nee to run it yourself, just consume it.

All the routes are documented on the [`README`](https://github.com/martincarrera/clash-royale-api#how-to-use).

[2017-01-19 14:23] #29 closed

[2017-01-19 14:25] martincarrera commented on #29
Hi @iZume, as @gillchristian told you, it's not necessary for you to host the API, you can just consume it from [Clashapi](www.clashapi.xyz).

However, you can download the code and host it anywhere, but in that case you will need to manually upload all the information.

Thanks for writing!

[2017-02-05 09:29] davidjpierre opened #30 "Cannot get ALL players"
Hi when I exectue http://www.clashapi.xyz/api/players/ , not all players are available.  Only player-1, player-2, ... up until player-13 or something.  How can I get all real players from the game ?  Tnx!

[2017-02-05 14:09] christianbegines commented on #30
you cant, that its an api of information onli of the game, there arent information about the players becouse it doesnt have a database like supercell database

[2017-02-05 14:50] martincarrera commented on #23
It is a great suggestion, but unluckily there is a LOT of different options like hitpoints, damage, dps, etc. and as Supercell updates the balance of the game really often it is quite difficult for me to keep that information updated.

I will leave this issue open, feel free to submit a pull request if you want help with this, I will try to work on this feature in the future.

Thanks!

[2017-02-05 17:32] #28 closed

[2017-02-05 17:32] martincarrera commented on #28
Fixed in v1.1.0

[2017-02-05 18:23] martincarrera commented on #27
API updated!

New cards, chests, and images added.

[2017-02-05 18:23] #27 closed

[2017-02-12 17:58] amirm3hdi commented on #23
@martincarrera Yes, it's almost impossible to do so unless people can contribute info or something like that which is not needed.

[2017-02-12 18:02] amirm3hdi opened #31 "Add to app list: http://donate.kloud51.com/"
This is a website for my clan.
Uses cards and random deck generator.

http://donate.kloud51.com/

### Description
Website for clash royal clan called **Donate**.

[2017-02-14 12:31] martincarrera commented on #31
Done. Thanks for using Clashapi!

[2017-02-14 12:31] #31 closed

[2017-02-16 01:29] amirm3hdi opened #32 "Skeleton Army should require 3 elixir not 4."

[2017-02-16 02:08] martincarrera commented on #32
Updated! Thanks!

[2017-02-16 02:08] #32 closed

[2017-02-16 19:48] TehSebaXx opened #33 "Errors..."
Running `mongod` i get the following error:

[code]

And running `npm run dev` or `npm start` I get the following error:

[code]

[2017-02-16 19:59] martincarrera commented on #33
It looks like you don't have a database folder configure for mongo and so it fails to start the database.

There are two things you can try:

1. Create a folder `D:\data\db\`
2. Run the cmd with system privileges.

Please try again and let me know if it's working.

[2017-02-16 21:59] TehSebaXx commented on #33
Managed to run Mongo. Npm still gives an error but seems to work:

[code]
Going to localhost:8085 I get this: `{"message":"Welcome to Clash Royale API!","endpoints":{"arenas":"api/arenas","cards":"api/cards","chests":"api/chests","players":"api/players"},"version":"1.1.0","lastUpdate":"February 05 2017"}`, but any other endpoint returns just a [].

[2017-02-17 13:21] martincarrera commented on #33
Perfect, that means that the API is working.

The error is because you don't have any `.env` file with configuration about the admin username and admin password, to login and create the information. By default it uses `admin` as both username and password.

It is returning `[]` because your database is empty.

If you want to USE the API, you can just consume it from [here](http://www.clashapi.xyz)

[2017-02-17 13:26] TehSebaXx commented on #33
Ok thanks you very much!

[2017-02-17 13:26] #33 closed

[2017-02-17 13:46] martincarrera opened #34 "Add chest cycle information"
Create a new endpoint and add the current chest cycle information, and if possible all the information about the chests that are outside the cycle.

[2017-02-22 18:23] dwoloszin opened #35 "Help"
hi,
could you post some tutorial about to use this Api since the beginning? I'm having some trouble to use this api.
tks a lot!

[2017-02-23 13:10] martincarrera commented on #35
Hi!

I don't see the point of writing a tutorial right now, but if you let me know what troubles you are having, I can help you and then make the documentation so nobody else finds the same problems.

Let me know how I can help you!

Thanks!

[2017-02-25 02:13] amirm3hdi commented on #35
@dwoloszin You need to select an API route that you need and extract the data with a `GET` method and the rest is json handling.
What language are you using? I can provide you an example.

[2017-02-25 02:16] amirm3hdi opened #36 "Incorrect elixir cost for Goblin Barrel (Should be 3 not 4)"
Someone reported this at my website:

![image](https://cloud.githubusercontent.com/assets/4629328/23327229/e55f6e2e-fb21-11e6-890b-f2f578182b03.png)

[2017-02-25 05:01] martincarrera commented on #36
Fixed! Thanks you!

<img width="600" alt="captura de pantalla 2017-02-25 a las 1 59 54 a m" src="https://cloud.githubusercontent.com/assets/6719062/23328368/3cfea38a-fafe-11e6-9b7f-309619337da8.png">

[2017-02-25 05:01] #36 closed

[2017-03-06 06:42] markifornia opened #37 "API endpoint for user handle (username) and/or user id?"
I see that the api provides /api/players/:id

Would it be possible to pull actual user (player) data?

Also, how were you able to pull all this data? Has Clash Royale released a beta API?

Thanks!
Mark

[2017-03-06 12:50] martincarrera commented on #37
Hi!

I'm sorry about the confusion, but I am not able to pull any data from the game as SuperCell didn't release any official API.

My API only provides general information such as cards, chestas, arenas, and players levels only, information about the towers for each level and the amount of experience that is required for a player to change his level.

You can see the information [here](http://www

[2017-03-06 12:50] #37 closed

[2017-03-06 13:47] markifornia commented on #37
Thanks Martin. I was curious how you got the data? Im a web developer myself

On Mar 6, 2017 4:50 AM, "Martín Carrera" <notifications@github.com> wrote:

[2017-03-06 13:50] martincarrera commented on #37
I created the data from just watching the clash royale app.

[2017-03-06 14:00] markifornia commented on #37
Wow. That's really impressive, great work!

On Mon, Mar 6, 2017 at 5:50 AM, Martín Carrera <notifications@github.com>
wrote:

--

[2017-03-07 14:26] abinabinabin opened #38 "Question"
hi.
I have a question

1. Can you use it in Unity?
If you can use it, please guide me

2. Do you have a win / lose API?

Thanks

[2017-03-07 14:30] martincarrera commented on #38
Hi!

I don't have any experience with Unity, but I am pretty sure you can, you just have to send a GET request to the endpoints you need.

I'm sorry but I don't have a win/lose API, as I am not able to get information of the current game, just I show the static information that you just can _copy & paste_ from the game.

Let me know if I can help you with anything else! And thanks for using my API

[2017-03-07 14:49] abinabinabin commented on #38
Thanks for the reply!

Static information What is it?
Please explain

I will study the GET request method.

[2017-03-07 14:53] martincarrera commented on #38
Is all the information like cards names, description, elixir costs, arenas, etc.

I am not able to get any information like player cards level, gold, gems, experience, win/lost battles, etc.

[2017-03-07 14:54] abinabinabin commented on #38
All right! I understand
Thank you so much!

[2017-03-07 15:08] martincarrera commented on #38
You are welcome! I will close this issue now, if you have any other question, feel free to create a new issue.

Thanks!

[2017-03-07 15:08] #38 closed

[2017-03-09 19:19] zhengli6 opened #39 "Can clash api get player match/top players info ?"
Hi,

This is a great api to be used for clash royale. Thank you for your efforts, I am thinking using some match data inside clash royale to doing some interesting projects. I am wondering is this api able to acquire top players gameTag as well as their recent match records and decks they are using?

Thanks

[2017-03-10 14:07] martincarrera commented on #39
Hi @zhengli6!

I'm sorry but I am not able to get any information about the battles, or a players cards level, or any information about the decks that current users are using, as there is no official API.

I just provide the general information about the chests, cards, arenas, and player leves (experience, tower hitpoints, etc.) but while there is no official API, I will not be able to provide cur

[2017-03-11 04:41] zhengli6 commented on #39
Martincarrera,

Thanks for quick reply, I guess the player match records would be useful if can be pulled via api. I found this website that provides real-time top 1000 players and their recent match records.  But I have no clue how they manage to obtain such data.

Here is the website I found:
https://statsroyale.com/top/players

Maybe you can figure it out.

[2017-03-15 15:15] martincarrera opened #42 "Update API"
Update API to include the changes made with the March update.

[2017-03-16 10:30] MaherFa commented on #42
I have recompiled the game textures and have the latest card art, they're high quality border-less and without the elixir drop atm, I can provide them as they are or add borders and give you them as PNGs, are you interested?

[2017-03-16 11:29] martincarrera commented on #42
Of course! If you can, add the border, update the images in the `images` folder and submit a pull request. Thanks!

[2017-03-16 16:11] MaherFa commented on #42
Do you care for the rarity glow (golden for rares and pink for epics)? like do you consider it a feature or is it not needed.
and what about the elixer drop?
atm I have all PNGs ready with borders and without the glow nor the elixir drop. imo I think they look cleaner like this but it's up to you.

also wanted to double check with you about the "idName" (image names) for the new cards, I used:
- b

[2017-03-16 17:36] martincarrera commented on #42
It is OK without the glow and the elixir drops, I am not sure how much effort should mean adding the glow and how it would look like. If you want, submit a pull request as you have it now and if you want to add the glow and submit a new pull request in the future, it's up to you.

The names are OK like that, thanks!

[2017-03-16 19:08] MaherFa commented on #42
effort is not an issue, I want this to be perfect. the issue is about consistency... old images only had glow for rares and epics and mostly because they were taken from screenshots.
if we want to add glow we would have to add transparent pixels to cards without glow (commons and legendaries) to preserve the unity of image sizes.

anyway I uploaded the files for now but rather work on the arenas.

[2017-03-16 22:37] MaherFa opened #44 "Arenas and Leagues"
I'm about to submit a pull request for the new arena images but I need to know a couple of things.

1. shouldn't we avoid using the single quote `'` character in the `idName` of `pekka's-playhouse` and `builder's-workshop`
2. are you planing to add the new "Leagues" to the arenas or do you want to create a new route for them?

## Available Arenas
barbarian-bowl
bone-pit
builder's-workshop
frozen-p

[2017-03-17 12:59] martincarrera commented on #44
Hi!

Right now, let's just keep using the `'` character, but I'll take it into consideration in the next update.

For the leagues, I haven't thought which is the best way to implement it, please add the images in a different folder named `Leagues`, as I think I will implement a new endpoint for the leagues.

Thanks again for all your work!

[2017-03-17 13:01] martincarrera commented on #39
I am not able to think how it is done, at least in a "legal" way.

I'm sorry but as long as SuperCell don't create an official API, I will not be able to provide such information.

[2017-03-17 13:01] #39 closed

[2017-03-17 13:02] martincarrera commented on #35
Hi, I'm closing this issue. If you have any specific question about the API, please feel free to reopen this issue or create a new one. Thanks!

[2017-03-17 13:02] #35 closed

[2017-03-17 13:43] MaherFa commented on #44
Done, sorry about the duplicate "card images" pull request, couldn't sync fork :/

I'll try to figure it out before next commit.

did you get the new card info yet?
I need an updated `api/cards` JSON (offline will do) for something I'm working on

[2017-03-18 13:09] barreeeiroo opened #46 "Minions Card Issue"
The minions card doesn't have an order:
![image](https://cloud.githubusercontent.com/assets/19251112/24072237/54e31e6c-0be4-11e7-9a3f-eb90ebcb16fb.png)
I'm creating a bot for Telegram using your amazing API (congrats for making so cool), but as you can see there is no order in the JSON response:
`{"_id":"58976166fa5bce0010123fb2","idName":"minions","rarity":"Common","type":"Troop","name":"Minions"

[2017-03-18 17:31] martincarrera commented on #46
Of course! Thanks for letting me know!

I will fix it later today, and add the new cards to the API.

I´ll let you know when it´s done.

[2017-03-18 21:00] MaherFa commented on #44
Done, https://github.com/martincarrera/clash-royale-api/pull/47

Arenas were updated and I added the `leagues` folder too.

[2017-03-18 22:13] martincarrera commented on #44
Thanks for all your work! It´s amazing!

[2017-03-18 22:13] #44 closed

[2017-03-20 14:39] barreeeiroo opened #48 "League Name Error"
There is a little error name in the Challenger 1 league: The image is called chellenger-i.png instead of challenger-i.png

https://github.com/martincarrera/clash-royale-api/blob/master/public/images/leagues/chellenger-i.png
https://github.com/martincarrera/clash-royale-api/blob/master/public/images/leagues/challenger-i.png

[2017-03-20 16:38] martincarrera commented on #48
Thanks for creating this issue. Can you fix it and submit a pull request? If not, I can fix it later today.

Thanks!

[2017-03-20 18:39] martincarrera commented on #48
Fixed by @MaherFa in #49

[2017-03-20 18:39] #48 closed

[2017-03-20 19:15] martincarrera commented on #42
Update: @MaherFa [here](https://github.com/martincarrera/clash-royale-api-data-generator/blob/master/data/cards.json) is the json of updated cards. As soon as I add the new chests and leagues information, it will be in production.

[2017-03-20 19:32] MaherFa commented on #42
Thank you so much. I will work on chest images and submit them later. Do you prefer them opened or closed. I will be creating them out of the original mutipart animation sprites. So I can create whatever frame we want. Any preferance?

[2017-03-20 19:57] martincarrera commented on #42
You are the expert here, just see which one looks better and go ahead with that one.

Thanks again for all your time!

[2017-03-20 21:02] barreeeiroo commented on #23
At least, could be possible to have cards level at tournament rules? It should be easier

[2017-03-20 21:16] amirm3hdi commented on #36
Nice screenshot lol

[2017-03-21 10:47] amirm3hdi opened #50 "Bad codeship badge 404"
The image from readme is 404 https://app.codeship.com/projects/153028.

![image](https://cloud.githubusercontent.com/assets/4629328/24144110/788e6b24-0e45-11e7-8226-3ce9267cb4b1.png)

[2017-03-21 12:16] martincarrera commented on #50
Hi! I see it OK. Maybe it took a little longer to upload?

<img width="924" alt="captura de pantalla 2017-03-21 a las 9 16 11 a m" src="https://cloud.githubusercontent.com/assets/6719062/24146992/ffaa91a2-0e16-11e7-9604-fbdaee6db0fa.png">

[2017-03-21 12:22] amirm3hdi commented on #50
@martincarrera I thought that too, Refreshed a couple of times, went to the URL and it was Application Error, anyway it is not 404 or application error anymore.

[2017-03-21 12:22] #50 closed

[2017-03-21 18:56] martincarrera commented on #46
Sorry for the delay. It should be fixed now.

Please let me know if you find something else.

Thanks!

[2017-03-21 18:56] #46 closed

[2017-03-21 18:59] martincarrera commented on #42
API is now up to date. @MaherFa I will create a issue for you to update the chests images, is it OK?

[2017-03-21 18:59] #42 closed

[2017-03-21 19:00] martincarrera opened #52 "Improve chest images"
Chests images should be pixel perfect, consistent, with better resolution, and include new chests.

[2017-03-21 20:02] MaherFa commented on #23
does anyone have an idea where the game store card stats? I can decode csv files and gather that info.
another option is getting them from the wikia. I can also do that but we would echo any errors they have in their database so I'd prefer the 1st option.

[2017-03-21 20:06] amirm3hdi commented on #23
@barreeeiroo There's too many cards, it takes a lot of time, but if other people can update info in like a separated page/web that @martincarrera can approve the changes it would be good and less time consuming.

[2017-03-21 20:09] amirm3hdi commented on #23
@MaherFa if the game doesn't want others to access data/API it's kinda pointless to try to.
The best we can come up with is this repo.

I don't get it, clash of clans API is out why there's no official API for clash royale 😐

[2017-03-21 20:16] MaherFa commented on #23
I'm already on it, I decoded characters.csv and found so many ordered useful information. I will not leave this issue until I have them all ordered in a table and ready to be implemented, It'll take some time tho. I will keep you guys updated here.

[2017-03-21 20:31] MaherFa commented on #42
No need, chests are ready

[2017-03-22 08:32] MaherFa commented on #23
### Option 1: Getting info from Wikia

I managed to write a simple code that extracts stats and info from wikia page tables without the images in th, it also includes `name`, `idName` and `statsDate` to keep track of latest update.

if we agree to use this method I will write special rules store numerical values as integers instead of strings

**how to test:**
go to http://clashroyale.wikia.com/wi

[2017-03-22 09:08] MaherFa commented on #23
### Option 2: Getting info from game files

I managed to extract and decode official csv files, I narrowed down related files to these:

https://github.com/MaherFa/temp-csv-files

### characters.decoded.csv
icludes data like `Rarity`	`SightRange`	`DeployTime`	`ChargeRange`	`Speed`	`Hitpoints`	`HitSpeed`	`LoadTime`	`Damage`	`	DamageSpecial`	`CrownTowerDamagePercent`

• DPS is calculated using `HitS

[2017-03-22 09:19] MaherFa commented on #23
@martincarrera I have no experience with MongoDB, but I can loop through wikia pages and generate a JSON with all the info they have, and I think it should be easy to merge the result with the existing database. what do you think?

[2017-03-22 12:44] martincarrera commented on #52
Fixed by @MaherFa on #53.

[2017-03-22 12:44] #52 closed

[2017-03-22 12:50] martincarrera commented on #23
Hi, I think the best way should be the first one.

If you could provide me a JSON with the complete data of all the cards, I can update the API model to support that information and update the API.

I could try to create a tiny script to run your code, but as I don't have a lot of time this days, it may take a couple of weeks.

Thanks!

[2017-03-22 13:34] MaherFa commented on #23
already on it, I'm writing a node.js script that takes card names from an array and generate wikia links and http rquest them. I'm also using jsdom and jquery to run the code inside of node.

it should be ready within 48 hours max, depending on my free time.

**Some mico issues:**
• should key names be like `hit-speed` or `hitSpeed`?
• should I use `damage-per-second`/`damagePerSecond` or `dps`
•

[2017-03-22 14:01] martincarrera commented on #23
1. Use camelCase if it's possible, such as `hitSpeed` instead of `hit-speed`.
2. `dps` should be ok
3. Take into account that some cards may have a range in some attributes, such as the inferno damage `20-400` instead of a simple value, or the goblin gang hitpoints `80/52`. In this cases, use a string if possible.
4. I think the best would be to multiply it by `1000` so that all units are in milli

[2017-03-22 14:36] barreeeiroo commented on #23
Could you add the attack type? Like if it attacks is area type or single objective

[2017-03-22 14:44] MaherFa commented on #23
@barreeeiroo I'll focus on gathering data present in wikia page tables for now. but I will definitely look into this later.

[2017-03-22 19:27] MaherFa opened #55 "extra dot charachter in "Balloon" card name"
[code]
`name` should be `"Balloon"`

[2017-03-22 20:49] MaherFa commented on #23
@martincarrera Full JSON file is ready, where should I upload it?

[2017-03-23 00:03] martincarrera commented on #23
Could you create a [public gist](https://gist.github.com/) and share the url?

I can work on that.

Thanks!

[2017-03-23 02:45] martincarrera commented on #55
Fixed. [Balloons](http://www.clashapi.xyz/api/cards/balloon)

[2017-03-23 02:45] #55 closed

[2017-03-23 09:12] MaherFa commented on #23
[Here it is](https://gist.github.com/MaherFa/2d143da0a707caa7532dfff708643a6d#file-stats-3-23-2017-json)

it's a duplicate of your cards.json with same order and length with new keys.
also I spent some time to create a [help file](https://gist.github.com/MaherFa/2d143da0a707caa7532dfff708643a6d#file-info-txt) to clear everything for users, including units, types and special cases.

one thing to no

[2017-03-23 10:50] amirm3hdi commented on #23
Is there a way to get tournament standards stats?
Like `turLevel:  9` and we'll know to get level 9.

[2017-03-23 11:31] MaherFa commented on #23
@amirm3hdi
I don't know if Martin have plans of implementing this but I see no point in adding this to every card, maybe a separate call with a value for each rarity?
[code]

for others looking for a way to handle this, you can use conditions with hard coded indexes to get what you want for now:

[code]

[2017-03-23 11:35] amirm3hdi commented on #23
@MaherFa I agree, a tiny code can achieve that.

[2017-03-23 14:47] MaherFa commented on #34
from the official game files, [chest_order.decoded.csv](https://github.com/MaherFa/temp-csv-files/blob/master/chest_order.decoded.csv)
hope this can help or confirm.

[2017-03-23 16:16] amirm3hdi commented on #34
I've seen mobile apps track chests, it's gonna be an easy and a good feature.

[2017-03-23 19:41] barreeeiroo commented on #34
We should add the info for the special chests: epic, legendary and supermagical:
https://forum.supercell.com/showthread.php/1451395-Legendary-Epic-Chest-Cycle-or-Random
![screenshot_20170323-204037](https://cloud.githubusercontent.com/assets/19251112/24266975/0ee75030-1009-11e7-8827-dc736b291a9e.png)

[2017-03-23 20:26] martincarrera commented on #24
Hey, I will create a npm module to consume this API soon.

I'll just keep this issue updated when I do it.

[2017-03-23 21:29] barreeeiroo opened #59 "Level Image"
Will be possible to add the level image to the API? I mean, to add the blue star with the level

[2017-03-23 22:56] MaherFa commented on #59
I'll be adding stat icons soon, I'll add the elixir drop and level star and some more useful icons

[2017-03-24 11:53] AmirSavand commented on #59
@MaherFa @barreeeiroo @martincarrera OT: The 2v2 update is killing it, so fun :D

[2017-03-24 12:55] AmirSavand opened #60 "Optimize arena images"
Some images have a lot of **space around them**, which is bad and makes images size a bit larger.
In other words, having spaces around images is **bad practice**.

I will make a **pull request** for this one **myself**! (if that's ok)

[2017-03-24 15:40] MaherFa commented on #60
for arenas that was intentional, they share the size of the largest one and are all aligned by Base,  i was thunking itll be cool like that, looking back I regret that.

So yeah I agree.
Chests are affected by semi transparent pixels from the original texture files, you can crop them if you have the time. But I'm planning on responding them later

[2017-03-24 15:43] AmirSavand commented on #60
Alright, I'll crop em all, I use a tool that auto-crops images, so it'll be super quick.
I'll make a pull after my work.

[2017-03-25 04:53] martincarrera commented on #24
It's not 100% ready yet (I still didn't create enough tests and have a couple of minor things to fix), but you can already use it.

[NPM module](https://www.npmjs.com/package/clashapi)

[2017-03-25 04:53] #24 closed

[2017-03-25 08:31] barreeeiroo opened #61 "Trainers Cycle"
Add a Trainers list with their info from Wikia:
http://clashroyale.wikia.com/wiki/Trainers

[2017-03-25 21:30] AmirSavand commented on #60
Pull is on the way

[2017-03-25 21:30] AmirSavand opened #62 "Optimize card images"
Pull is on the way

[2017-03-25 21:30] AmirSavand opened #63 "Optimize emoji images"
Pull is on the way

[2017-03-25 21:31] AmirSavand opened #64 "Optimize chests images"
Pull is on the way

[2017-03-25 21:31] AmirSavand opened #65 "Optimize league images"
Pull is on the way

[2017-03-25 23:09] barreeeiroo commented on #63
In your Pull https://github.com/martincarrera/clash-royale-api/pull/68 you have deleted the GIF animation

[2017-03-26 11:08] AmirSavand commented on #63
@barreeeiroo I wanned to fix it, but I realized all of em are 128x128 which is good, so no need to change.

[2017-03-26 11:08] #63 closed

[2017-03-26 11:40] AmirSavand opened #71 "Bower components is not ignored"
Why is that?

[2017-03-27 12:48] #60 closed

[2017-03-27 13:27] barreeeiroo commented on #23
@martincarrera

Can you add soon the levels to your API? All members of my clan are waiting for the levels of each card to add to my bot ;)

https://gist.github.com/MaherFa/2d143da0a707caa7532dfff708643a6d

[2017-03-27 13:55] MaherFa commented on #23
@martincarrera if that JSON is hard to work with I can help if you point me to the recommended format you like the data in. I'm also perfecting the StatGrab bot for future updates, requests are welcomed.

[2017-03-27 15:20] #62 closed

[2017-03-27 15:20] #64 closed

[2017-03-28 13:19] racsovzla opened #72 "Cant run the server"
Hi,

I'm following the steps of the readme but when I get to the part where I'm going to run the server I end up getting these errors:

bash: mongod: command not found

and

npm ERR! Windows_NT 6.1.7601
npm ERR! argv "C:\\Program Files\\nodejs\\node.exe" "C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js" "run" "dev"
npm ERR! node v4.4.7
npm ERR! npm  v2.15.8
npm ERR! code ELIFECYCLE
n

[2017-03-28 13:25] barreeeiroo commented on #72
It seems like you have not installed MongoDB:

**Solution:** Follow the steps from this website: [MongoDB](https://docs.mongodb.com/manual/tutorial/install-mongodb-on-windows/)

[2017-03-28 13:32] martincarrera commented on #72
Also you can take a look at [this post](http://stackoverflow.com/questions/20796714/how-do-i-start-mongo-db-from-windows) in stack overflow.

Let us know if you still have issues to run the API.

[2017-03-28 14:30] racsovzla commented on #72
Thank you for your responses. MongoDB is already installed and running but the second error persists and node continues blame to clash-royale-api :D. Any ideas?

[2017-03-28 14:32] barreeeiroo commented on #72
Open CMD, go to your MongoDB path installation, search for the file `mongod.exe` and execute it

Then, execute in _clash-royale-api_ folder `npm run dev`

[2017-03-28 14:35] martincarrera commented on #72
The first error is because your computer does not recognize `mongod` as a script. That's because, in windows, you have to add the mongo folder to your PATH or open the command from the folder that you installed it.

The second one, only is because it can't connect to the database, as the first script did not work.

[2017-03-28 15:45] racsovzla commented on #72
Ok, I should definitely be doing something wrong, but I still do not understand what it can be.

I run mongod from cmd and get this output:

`2017-03-28T11:33:08.712-0400 I CONTROL  [initandlisten] MongoDB starting : pid=9
004 port=27017 dbpath=C:\data\db\ 64-bit host=OHERNANDEZ-PC
2017-03-28T11:33:08.713-0400 I CONTROL  [initandlisten] targetMinOS: Windows 7/W
indows Server 2008 R2
2017-03-28T11:

[2017-03-28 17:40] martincarrera commented on #72
This time you are running mongo, you have to leave it running and open another CMD, and then run the clash-royale-api. Are you sure it is the same error? can you post a screenshot or the log again?

[2017-03-28 17:40] martincarrera commented on #72
Do you have `nodemon` installed? `npm i -g nodemon` in case you don't.

[2017-03-28 17:43] martincarrera commented on #72
Also, you don't need to have the API running to try it, you can just consume the endpoints from  [here](http://clashapi.xyz)

[cards](http://clashapi.xyz/api/cards)
[arenas](http://clashapi.xyz/api/arenas)
[leagues](http://clashapi.xyz/api/leagues)
[players](http://clashapi.xyz/api/players)
[chests](http://clashapi.xyz/api/chests)

[2017-03-28 17:48] martincarrera commented on #72
I just noticed that it was not clear that nodemon was necessary. I just added it to the `README.md`.

[2017-03-30 13:15] MaherFa opened #73 "Adding stat icons"
I now have high quality versions of all stat icons and other UI elements of the game, including level star (https://github.com/martincarrera/clash-royale-api/issues/59) and other useful graphics.

I will be uploading them and adding a pull request but we need to agree on where to upload them.we can create a folder called `icons` or `misc` and upload them all in there or create a dir called `stats`

[2017-03-30 15:37] martincarrera commented on #73
Hey! I think that we should create a folder with `levels` for the level stars, a `stats` folder for the stats icons and then if there are other UI elements, maybe a `misc` folder. But trying to always group the items in a separated folder if possible.

Thanks again @MaherFa!

[2017-03-30 18:10] MaherFa commented on #73
I ended up putting stat icons in `stats` and the rest in `ui`, I'll be uploading ui graphics soon

[2017-03-30 18:40] MaherFa commented on #73
Final pull (https://github.com/martincarrera/clash-royale-api/pull/75/commits/1d27efaf2e9da731cb3cc69016df433bf063d8b8)

[2017-03-30 18:40] MaherFa commented on #59
done (https://github.com/martincarrera/clash-royale-api/pull/75/commits/1d27efaf2e9da731cb3cc69016df433bf063d8b8)

[2017-03-30 18:41] MaherFa commented on #23
added all available icons to be used with stats (https://github.com/martincarrera/clash-royale-api/pull/75/commits/1d27efaf2e9da731cb3cc69016df433bf063d8b8)

[2017-03-31 12:34] martincarrera commented on #72
Hey @racsovzla could you finally manage to run the server?

[2017-03-31 19:13] #65 closed

[2017-04-03 07:47] yshahin opened #77 "Add Card Image"
I makes sense to have the character card images here as well

[2017-04-03 08:31] MaherFa commented on #77
We already have them under `public/images/cards` and can also be grabbed using the instructions on `readme.md`.
Is this what you're for?

[2017-04-03 09:16] yshahin commented on #77
Why aren't they returned in the Json response of the API?
Shouldn't there be an imageUrl property in the card info?

[2017-04-03 10:03] MaherFa commented on #77
There's a property called `idName` that holds the name of the image. And the rest of the url is static. So you can use our host or any other host you want

[2017-04-03 12:00] yshahin commented on #77
Great thanks

On Mon, Apr 3, 2017 at 12:03 PM Maher Fa <notifications@github.com> wrote:

[2017-04-03 12:16] martincarrera commented on #77
Thanks @MaherFa for clearing this up. I'm closing this issue, @yshahin if you have any other question, don't hesitate to create a new one.

[2017-04-03 12:16] #77 closed

[2017-04-03 13:46] barreeeiroo opened #78 "Add API Endpoints to Images"
As the title sais, is possible to add all the endpoints of the /images API?
![image](https://cloud.githubusercontent.com/assets/19251112/24612112/993d03be-1884-11e7-9592-b4b3159fb7a5.png)

[2017-04-03 14:17] martincarrera commented on #78
I'll take a look and see what I can do.

[2017-04-03 14:18] martincarrera commented on #73
Closed by #75.

[2017-04-03 14:18] #73 closed

[2017-04-03 14:19] martincarrera commented on #71
I have to take a look at it. I forget to add it to the `.gitignore` file I guess.

[2017-04-03 14:20] martincarrera commented on #72
I'm closing this issue as I don't have any reply about this. If you still can't run the server, please let me know.

[2017-04-03 14:20] #72 closed

[2017-04-07 20:36] tboyce1 commented on #34
Just FYI in case you weren't aware, but [statsroyale.com](http://statsroyale.com/blog/Chest+Cycle+and+Profile+refreshing) can find your position and upcoming chests automatically. It would be awesome if there was an API for this so we don't have to rely on someone else's server.

[2017-04-08 21:02] smlbiobot opened #79 "Add challenge chest data"
Great API. Can you add challenge chest data, e.g. epic / legendary / rare chances for Classic Challenges and Grand Challenges chests together with the gold range, card count, etc?

Thanks!

[2017-04-09 12:41] NathanNr opened #80 "Clans"
How can I get information about a specified clan or player?

[2017-04-09 12:51] MaherFa commented on #80
You can't, Supercell doesn't provide any access to the ladder, player nor clans information. Everything found here is collected manually. And that can't be done with players and clans.

Unless SC provide us with an official api or with release player and clan stats somewhere this can't be done at all.

[2017-04-09 15:42] martincarrera commented on #80
I'm sorry, but as @MaherFa said, as long as SuperCell doesn't provide an official API, we are not able to have that information.

[2017-04-09 15:42] #80 closed

[2017-04-09 15:43] martincarrera commented on #79
I will try to do that, you are right - we are missing that information.

[2017-04-09 15:52] NathanNr commented on #80
Okay, thank you for your answer.

[2017-04-09 22:16] barreeeiroo commented on #80
Maybe SuperCell could add it as ClashOfClans has it

SuperCell released an API for ClashOfClans:
developer.clashofclans.com

[2017-04-11 04:14] nickleefly commented on #34
See [statsroyale upcoming chest](http://statsroyale.com/profile/RYJY00PQ)
![image](https://cloud.githubusercontent.com/assets/1024773/24892598/58fc5ca0-1eb0-11e7-89f1-71397dece49d.png)
Maybe this helps

[2017-04-11 11:53] AmirSavand commented on #34
@nickleefly These numbers can be implemented easily with scripts no need images, but the numbers however should be in the API.

[2017-04-13 16:02] s2kjn93h commented on #23
Should be a exception for in range for Mortar

range [ number ] Except "Goblin Gang" and Mortar
range [ string ] Goblin Gang, Mortar separated by a "/" min and max range values.

It says, 311 and should be "3/11"

Or something like that.

[2017-04-17 03:09] nickleefly commented on #34
@AmirSavand CR is not releasing an API just yet

[2017-04-17 11:40] Ruudt commented on #80
How do starfi.re and statsroyale.com get their information? Has something changed?

[2017-04-17 11:42] AmirSavand commented on #34
@nickleefly I meant this API, not clash royales.
API should just give the numbers and the consumer should put the on chest images.

[2017-04-17 12:33] martincarrera commented on #80
I have no clue, to be honest. But I'm pretty sure that it's not very legal.

[2017-04-17 13:06] Ruudt commented on #80
I would like to find out because it seems that statsroyale.com falls within the (Supercell fan content policy)[http://supercell.com/en/fan-content-policy/] and starfi.re is a (featured fansite by Clash Royale)[mobile.twitter.com/ClashRoyale/status/851807938943614977].

[2017-04-17 15:10] #59 closed

[2017-04-17 15:38] martincarrera commented on #71
Fixed! Thanks!

[2017-04-17 15:38] #71 closed

[2017-04-26 18:23] torzuoliH commented on #79
Are you working on it, or do you want I check that ?

[2017-04-26 19:31] martincarrera commented on #79
@torzuoliH if you can take a look at it, I will be really happy to receive some help. Let me know if I can help you with anything. Thanks!

[2017-05-10 17:54] BenC14 commented on #23
Is this still happening? Is anyone actively working on this api?

[2017-05-10 23:09] martincarrera commented on #23
Hi @BenC14! I am working on this API on my free time - and to be honest I don't have much since a couple of months ago.

I will try to make this feature as soon as possible, but I can't promise any date or anything.

I will post any news in this thread.

Thanks!

[2017-05-11 10:14] torzuoliH commented on #79
@martincarrera I will take it as soon as possible on your other repository, and make a PR when it will be ok

[2017-05-13 03:14] atulya2109 commented on #34
Checkout https://github.com/atulya2109/Stats-Royale-Python working on chestCycleData and Clan data

[2017-05-13 03:15] atulya2109 commented on #34
Need a few helping hands

[2017-06-18 19:07] NightScap3 opened #82 "Add Player Data with GET Request from Stats Royale"

[2017-06-20 13:46] TehSebaXx opened #83 "Serve clashapi.xyz over HTTPS"
If it's possible serve the content over HTTPS for safer use.

[2017-06-20 15:06] martincarrera commented on #83
Yes, I will do it in a couple of days. Thanks for opening this issue!

[2017-06-20 15:08] TehSebaXx commented on #83
Thank you!

[2017-06-20 17:33] NightScap3 commented on #82
request("https://statsroyale.com/profile/" + id).pipe(fs.createWriteStream('stats.html'));
    var wins1 = document.getElementsByClassName('statistics__metricCounter ui__headerExtraSmall statistics__trophyMetric');

i did so and it works

[2017-06-20 18:44] #82 closed

[2017-08-04 21:43] TylerL-uxai opened #84 "Most recent 25 games?"
Is it possible to get a list of the 25 most recent games? Thanks

[2017-08-14 16:52] atulya2109 opened #86 "Check out this new clash royale api..."
[Stats-Royale-Python](https://github.com/atulya2109/Stats-Royale-Python/) This api scrapes [StatsRoyale ](https://www.statsroyale.com) to get player details, upcoming chests in chest cycle, last few battles from player tag clan members and clan details from clan tag.

The only main problem is that the scraper breaks down when the HTML  of the website is changed.
It would be great to have a few hel

[2017-10-09 21:37] guachitonico opened #87 "API Site seems down"
I just tried browsing http://www.clashapi.xyz/
and I'm getting Application Error: An error occurred in the application and your page could not be served. If you are the application owner, check your logs for details.

My app heavily relies upon the site, so I'd love the website back up as soon as possible.

[2017-10-10 00:31] martincarrera commented on #87
Seems up from here, maybe it was down a little period of time.

Anyway, I've been really busy this last few months but I'm working on some upgrades on this app so it is 100% up.

[2017-10-10 00:31] #87 closed

[2017-10-10 00:33] martincarrera commented on #86
Hey! It looks great. However, I am really busy so I am not able to dedicate a lot of time to open source projects 😢

I will try to keep my API updated and with some improvements, but I won't be able to help in other projects. Sorry!

[2017-10-10 00:33] #86 closed

[2017-10-10 00:34] martincarrera commented on #84
Hey! This API does not get any real information from ingame, just serves all the static information about the cards, arenas, chests.

Sorry 😞

[2017-10-10 00:34] #84 closed

[2017-10-10 00:35] martincarrera commented on #83
Just to keep this up, I'm on it and I will try to serve the content over HTTPS in the next couple of days.

Sorry it took so long, I've been really busy lately.

[2017-10-10 18:03] guachitonico opened #88 "Add new cards"
Hi,
I checked you have an already built utility to easily add cards to the server.
Will you add the latest CR cards?
Cannon Cart - Epic, 5 elixir, Troop, Arena Hog Mountain, Ground unit
Flying Machine - Rare, 4 elixir, Troop, Jungle Arena, Air unit
Mega Knight - Legendary, 7 elixir, troop, hog mountain, ground unit

Thanks!

[2017-10-11 17:40] martincarrera commented on #88
Sure, sorry for the delay adding this cards. I will do in a couple hours.

[2017-10-11 17:43] guachitonico commented on #88
Thanks!

[2017-10-12 19:16] martincarrera commented on #88
Cards added!

[2017-10-12 19:16] #88 closed

[2017-10-12 19:32] martincarrera opened #89 "Add missing cards images"
* Cannon Cart (`cannon-cart.png`)
* Mega Knight (`mega-knight.png`)
* Flying Machine (`flying-machine.png`)

@MaherFa @AmirSavand it's been a while, could you help me out with this? Thanks!

[2017-10-12 20:44] MaherFa commented on #89
been too busy lately, I'm on it

[2017-10-12 22:36] martincarrera commented on #89
Thanks! 🎉

[2017-10-12 22:45] #89 closed

[2017-10-16 03:24] PlayableApps opened #90 "can i use these emojis for my app ?"
hello Mr. Martin Carrera

i just want to know if i can use these funny emojis for my own app ?

is that legal ?

[2017-10-16 05:27] martincarrera commented on #90
Hey! If you ask me, I don't mind if you use them.

Just be sure you don't break any term and condition from SuperCell.

When you finish your app, if you use my API, please submit a pull request with info about it, and please tell me so I can try it!

😄

[2017-10-16 05:27] #90 closed

[2017-10-21 08:17] PlayableApps commented on #90
Hey Mr. Martin Carrera! thank you for the nice Reply!
I'm actually a very Beginner! the game i'm making is just a tic tac toe
Haha!
but for fun i added those amazing emojis , i really don't know if that
breaks any term and condition from SuperCell ?
these copyrights issues SCARES ME man. so i'm trying to play safe :)

thanks again sir and have a nice day!😊

On Mon, Oct 16, 2017 at 8:27 AM, Martín

[2017-11-12 19:01] hanscees opened #91 "get example"
hi, I do not understand how to make a succesful api call

This does not work
http://www.clashapi.xyz/api/cards/:arrows

it says "wrong id, object nog found. I have tried a number of other ways.

What is the right way to do this?

[2017-11-12 19:57] martincarrera commented on #91
Without the `:`

http://www.clashapi.xyz/api/cards/arrows

[2017-11-15 11:04] lluisd opened #92 "Add card id"
Hi,

Can we add the card ids? like https://docs.google.com/spreadsheets/d/1hvoz1vYbK5-Wine0oRnmrZvkSRVK5ezr2VJbwUog2io/edit#gid=0 to share decks.

[2017-12-06 00:02] chrisbremmer commented on #83
@martincarrera did you ever get around to this?

[2017-12-06 04:12] martincarrera commented on #83
@chrisbremmer you can try with [this url](https://clashapi.now.sh/).

I'm not sure if it's production ready but you can start using it.

[2017-12-06 05:24] chrisbremmer commented on #83
@martincarrera ah that's actually perfect! I'm just messing around with the api for a bootcamp I'm in at the moment and this saves me having to proxy the request. Heroku didn't like the http :/ Thanks a lot though!

[2017-12-07 01:11] efres1990 commented on #83
Hi @martincarrera this url https://clashapi.now.sh/ works very well, but is stable? because i am doing a university job and i need with urgency, because heroku and firebase don't works with https.
Thanks and great job.

[2017-12-07 02:31] martincarrera commented on #83
@efres1990 it's as stable as I can make it. Take into account that this is a open source project made in my free time and the hosting is being paid by my own money without help, so I cannot get the best hosting in the market.

This said, it is really stable and I try to monitor the server as much as possible, and also if this crashes you can still create a issue.

Also, if you need me to pay speci

[2017-12-12 13:04] martincarrera commented on #92
Hi!

If you could confirm the new cards ids I'll try to add them.

Thanks!

[2017-12-12 13:05] martincarrera opened #93 "Update API to support 12/12 update"
Add new cards, arenas, chests to support update.

[2017-12-12 13:05] #91 closed

[2017-12-12 13:06] martincarrera commented on #91
I'm closing this issue, if you have any other question please don't hesitate to ask.

[2017-12-16 19:13] efres1990 commented on #83
ok @martincarrera  I understand the situation and thanks. Congratulations for the work, it works really well, if i had some problem i would tell you. Thanks

[2017-12-17 10:56] guachitonico opened #94 "Provide localized card names"
For some apps, it might be useful to have translated card names available from within the API.

The endpoint for spanish card names might be, for example, `/api/cards/es`

[2017-12-28 21:43] efres1990 commented on #83
hi @martincarrera i am having problems with https://clashapi.now.sh/api, the server
does not respond, please can you check it?

[2017-12-28 22:26] martincarrera commented on #83
There is a problem with the provider I'm using. You can check the status [here](https://zeit-status.co/).

I'm sorry, I'll do all I can but I can't guarantee anything.

[2017-12-28 23:14] efres1990 commented on #83
:( ok I am pending, thanks

[2017-12-29 12:53] efres1990 commented on #83
Hi @martincarrera, it seems that it already works. Thank you so much.

[2017-12-29 13:00] martincarrera commented on #83
It is, I've just checked that.

Good luck with your college work! Let me know if I can help you with anything :)

[2018-01-12 05:31] martincarrera opened #95 "Improve images"
I added the new images but those look really poor.

@MaherFa @AmirSavand could you help me out with this?

* Arena:
  * `electro-valley.png`

* Cards:
  * `hunter.png`
  * `royal-ghost.png`
  * `zappies.png`

* Chests:
  * `fortune-chest.png`
  * `kings-chest.png`
  * `legendary-kings-chest.png`
  * `lightning-chest.png`

[2018-01-12 08:38] TorzuoliH commented on #93
@martincarrera it has been done here, right? https://github.com/martincarrera/clash-royale-api-data-generator

[2018-01-12 13:58] #93 closed

[2018-01-18 23:33] TorzuoliH commented on #92
Hi @martincarrera!

I can add new card ids. Where would you like to place them?

[2018-02-23 01:27] ikenami opened #98 "Consume API via HTTPS"
It would be nice if we could consume the API using HTTPS instead of HTTP without the "insecure" warning popping up. Any plans to do so?

[2018-02-23 15:24] martincarrera commented on #98
Hi @ikenami! I have the HTTPS version [here](https://clashapi.now.sh/).

The problem is that Heroku does not provide HTTPS by default, and the hosting I'm using to get HTTPS (now.sh) is not 100% stable, so I am not quite comfortable with migrating the app yet.

You can still use https://clashapi.now.sh/ to consume the API using HTTPS, as it's a exact replica of the API in clashapi.xyz

Also, check

[2018-03-04 15:25] AmirSavand opened #100 "Card: Magic Archer"
Can't find it here: http://www.clashapi.xyz/api/cards/

[2018-03-04 17:23] TorzuoliH commented on #100
Hello @AmirSavand, API data will be updated soon ([PR](https://github.com/martincarrera/clash-royale-api-data-generator/pull/16)).

@martincarrera

[2018-03-04 17:40] AmirSavand commented on #100
@TorzuoliH Nice, how did I miss it haha. Make sure it resolves this issue.

[2018-03-04 17:41] AmirSavand commented on #100
Nice

[2018-03-05 11:04] MaherFa commented on #95
I'd love to help, but recently SC implemented a new way of storing data, they basically download images and store them in `\data\` instead of packing them inside the apk (the way I used to unpack and decode them).

I'm yet to find a way to get those so we may have to wait for the apk file update.

[2018-03-06 17:50] AmirSavand opened #101 "Royal Ghost bad image"
http://www.clashapi.xyz/images/cards/royal-ghost.png

The image is not cropped properly and has a purple glowing effect around it.

[2018-03-06 17:52] martincarrera commented on #101
Duplicate #95

[2018-03-06 17:52] #101 closed

[2018-03-06 17:56] AmirSavand commented on #95
+1

[2018-03-09 15:55] AmirSavand commented on #83
I also need this @martincarrera when I open with `https://` I get an unsafe warning from google chrome.

[2018-03-09 15:56] AmirSavand opened #102 "Error 500 Internal Server Error"
What's with the error? I got em recently from cards and random API.

[2018-03-09 15:56] AmirSavand commented on #102
Random deck works now, but cars still no...

[2018-03-09 15:59] AmirSavand commented on #83
Error from chrome console:

[code]

Same for cards.

[2018-03-09 16:56] AmirSavand commented on #102
The problem was on my side, had the wrong API but it's so weird cuz it happened suddenly...

[2018-03-09 16:56] #102 closed

[2018-03-09 16:56] AmirSavand commented on #102
Anyway, I think there should be a 404 error not 500 :wink: \

[2018-03-09 17:25] efres1990 commented on #83
Hi AmirSavand in my opinion this is because you have in your proyect http and https request you should change this an only use http or https this is not a problem of the api

[2018-03-09 18:01] AmirSavand commented on #83
@efres1990 I agree.

[2018-03-09 18:50] martincarrera commented on #102
I have no idea what you did to get that error, so I am not sure what it should be 😜

[2018-03-09 18:51] martincarrera commented on #83
You could try https://clashapi.now.sh in order to have HTTPS support.

I'm still not sure about migrating to this new provider so consider this in 'beta'

[2018-03-09 19:18] AmirSavand commented on #102
@martincarrera it was a wrong URL, so basically it should be 404 not 500 which means your server had an error processing the request.

It's easy to fix it, just check to see if the request URL is valid, else return 404 response.

[2018-03-09 19:19] AmirSavand commented on #102
I don't know what framework you're using exactly, but in most frameworks, 404 is handled automatically.

[2018-03-09 19:25] martincarrera commented on #102
Oh, you are right.

[2018-03-09 19:40] AmirSavand commented on #100
@martincarrera @TorzuoliH the card is still not in the API.

[2018-03-10 13:44] AmirSavand opened #103 "Markdown standards for README.md"
I will do this myself to change my site URL as well.

Markdown warnings:

[code]

Also bash commands don't start with `$` anymore, they start with `>`.

[2018-03-10 13:47] AmirSavand opened #104 "Wrong Name and URL for Donate App"
I'll resolve this myself too.

New one: http://royplus.herokuapp.com (Name: Royale Plus)

[2018-03-11 13:46] AmirSavand opened #106 "Bad card image (Hunter)"
The glowing purple effect needs to go away just like other cards.

http://www.clashapi.xyz/images/cards/hunter.png

![image](https://user-images.githubusercontent.com/4629328/37254175-d138bf04-254b-11e8-9c36-730d3d25a975.png)

[2018-03-13 09:24] Tithanium opened #107 "Proposal to lower the load and improve stability"
I suspect the server load of the API does not requires all the time :
1) specific player tag data (it can be random, as in my case...)
2) real time scavenging.

So, maybe adding an endpoint like " send me the player battle data from the 1000 last recent requests ",
or give me n random tag battle data, it would send back only data stored into a local dB.
This would save a lot of CPU time, wouldn't

[2018-03-14 12:02] MaherFa commented on #95
Done! thx to @Galaxy1036 python script

[2018-03-14 14:32] #103 closed

[2018-03-14 14:32] #104 closed

[2018-03-14 23:30] AmirSavand opened #109 "[card.idCopy] In game copy-id of cards"
So I want users to open and copy the decks from web to game directly.

I think it would be good to add the id of the cards that is used in copy link structure like [this](https://link.clashroyale.com/deck/en?deck=26000002;26000001;26000013;26000005;28000000;26000012;26000015;26000016):

[code]

That opens the game with this magnet link:

[code]

Anyway, I'm using these for my website, **if this fe

[2018-03-15 00:05] AmirSavand commented on #109
If this is going to be added, I'd suggest naming this property `idCopy` because it is the id that used in copy link :wink:

[2018-03-15 00:05] AmirSavand commented on #109
@MaherFa what do you think?

[2018-03-15 12:16] #95 closed

[2018-03-15 12:17] #106 closed

[2018-03-15 12:28] martincarrera commented on #100
Added.

[2018-03-15 12:28] #100 closed

[2018-03-15 12:31] martincarrera commented on #107
Hi!

This API does not search players and does not scavenge any data from the real game data. It just provides static information for other devs to build apps and not need to hard-code all the static data.

I'm aware that there are other APIs that do that, but I don't know if those are open source or free.

Thanks for your comments!

I'm closing this issue.

[2018-03-15 12:31] #107 closed

[2018-03-15 13:29] AmirSavand commented on #106
Wooo !

[2018-03-16 21:18] MaherFa commented on #109
I support this, I think it can be very beneficial.
is there's an official source of mentioned id? something we can rely on for future cards and double checking?

[2018-03-16 21:21] AmirSavand commented on #109
@MaherFa No I couldn't find an official source, all I could find was a reddit post :stuck_out_tongue:

But I provided the list and for new cards, we can just use the game and try to share a deck with the new card and it'll be revealed :)

I don't mind this key to have `null` for new cards.

[2018-03-16 21:22] MaherFa commented on #94
I believe this issue is very low priority until we solve everything else.
it'll add more complications for maintenance.

but if enough people show interest and @martincarrera  approves, I can  contribute with full Arabic translations.

[2018-03-16 21:25] MaherFa commented on #109
good enough if you're willing to test all of them!
and btw, this issue is a duplicate of (https://github.com/martincarrera/clash-royale-api/issues/92)

[2018-03-16 21:27] AmirSavand commented on #109
Wow, didn't know about the duplicate, this issue can be closed but the list I provided should be mentioned so it's easier to add them when implementing the issue.

[2018-03-16 21:27] MaherFa commented on #92
I support this, @AmirSavand have obtained a complete list from Reddit, see here (https://github.com/martincarrera/clash-royale-api/issues/109)

[2018-03-16 21:28] MaherFa commented on #109
no worries, done!

[2018-03-16 21:29] AmirSavand commented on #109
@MaherFa although, I didn't get my list from reddit, I got em from a live website using them, you could say I stole them :D but I use them for my website too, so if there's an issue with em (like incorrect id) I will know about it, so far no issue.

[2018-03-16 21:31] TorzuoliH commented on #94
Available for French translations 🇫🇷

[2018-03-19 02:28] martincarrera commented on #92
I will try to add the card ids this week, I'm currently super busy right now, so if you like you can add it on each card in the data generator as `copyId` and I'll update the API to support it, that way you could help A LOT!

[2018-03-19 02:29] martincarrera commented on #109
I will try to add the card ids this week, I'm currently super busy right now, so if you like you can add it on each card in the data generator as `copyId` and I'll update the API to support it, that way you could help A LOT!

[2018-03-19 08:16] TorzuoliH commented on #92
@AmirSavand @MaherFa If some of you starts the job, please tell us here. Don't do duplicate work!

[2018-03-19 10:40] AmirSavand commented on #109
@martincarrera I tried to do so, but I couldn't figure out how to :( but I'll try again :D

[2018-03-19 10:42] TorzuoliH commented on #109
I will do this soon @AmirSavand

[2018-03-19 10:43] AmirSavand commented on #109
@TorzuoliH I just figured out, I didn't know they were on https://github.com/martincarrera/clash-royale-api-data-generator

Anyway, cool thanks.

[2018-03-22 21:54] TorzuoliH commented on #109
Sorry for being late: here's the work : https://github.com/martincarrera/clash-royale-api-data-generator/pull/18

[2018-03-22 23:19] martincarrera commented on #109
Thanks @TorzuoliH!

I will be working on this enhancement this week and I'll let you know when it is ready.

[2018-03-22 23:30] TorzuoliH commented on #109
Ok nice 😄

Maybe if you could merge Barbarian Barrel request (on the other repo), I will see for adding the missing ids.

[2018-05-05 00:42] Jimbolino opened #111 "not an actual api for clash royale"
Somewhere in the readme it should be mentioned that this is not an actual api for clash royale.
I just spent 30 mins installing this, but only just found out that it does not connect to the clash royale servers.

There are a few mentions in the closed tickets, but a more obvious message in the readme would be nice.

[2018-05-05 09:12] AmirSavand commented on #111
30 minutes for installation?

Anyway this issue is invalid, read this:

[2018-05-07 00:04] Jimbolino commented on #111
30 minutes was because this was my first node+mongo installation. After figuring out how to install those two, the installation was as easy as described in the readme.

I didn't mean to disrespect your project, its a great api for a lot of purposes.
Its just that the name, and readme never mention that it doesn't pull live data from the game.

The disclaimer is just a legal copy/paste that absolve

[2018-05-07 08:54] AmirSavand commented on #111
Then we'll wait for @martincarrera @MaherFa

[2018-05-10 17:09] jonathanlaf commented on #111
I'm facing the exact same problem. The only diff, I tried the endpoint before installing. Lost only 5 minutes. but it could be important to mention it. I found this API helpful for a lot of things, except the one I came here for.

[2018-05-17 16:31] cbalmeida opened #112 "Rascals??"
any plans to add rascals card?

[2018-05-26 17:07] martincarrera commented on #111
Hey! this IS a clash royale API. It is an API and it is about clash royale.

The problem is that this only serve static information and you need live information, I'm sorry that it took 30 minutes for you to install the API and get it running locally and then realize that it was not useful for your needs.

[2018-05-26 17:07] #111 closed

[2018-05-26 17:11] martincarrera commented on #112
Thanks to @MaherFa and @HZooly it's added now.

[2018-05-26 17:11] #112 closed

[2018-05-26 17:12] martincarrera commented on #109
Added `copyId` on each card.

Please if there is a wrong ID or something let me know as soon as possible.

[2018-05-26 17:12] #109 closed

[2018-05-26 17:13] martincarrera commented on #92
Added `copyId` on each card.

If you see a wrong id please let me know as soon as possible.

[2018-05-26 17:13] #92 closed

[2018-05-26 17:13] #98 closed

[2018-05-26 20:00] AmirSavand commented on #109
@martincarrera wooo! nice work.

[2018-05-27 03:54] Jimbolino commented on #111
I didn't mean it's not a clash royale api. I meant that it doesn't pull live data from the clash royale servers.
A small message in the readme that explains this difference would be nice.

[2018-05-27 12:28] AmirSavand commented on #111
You said that:

Anyway, I think there's no point in discussing this issue as @martincarrera labeled it *wontfix*.

You could try making a pull for this but again, I don't think it's worth it.

[2018-05-27 13:55] jonathanlaf commented on #111
I think @Jimbolino just don't have the right words, but the problem still exact. With the name being Clash Royale API, it can lead to the thinking that it serve live data. Just a little note could help ppl understanding the type of project this is all about.

I do understand that the way it was told "This is not a clash royale api" it can be frustrating, but the message is clear.... the OP feel li

[2018-05-27 15:48] AmirSavand commented on #111
Maybe a note about not providing live data can help few people.

But when I searched about Clash Royale API and found this project, after looking at the endpoints, I realized this is not a live data API.

[2018-05-27 15:53] jonathanlaf commented on #111
@AmirSavand i'm with you on that, As I said, I tested the endpoint and realized fast that it was not live data, but there's a lot of hobbyist around who will not test and check, they just assume it do what they need because it exists online ;)

[2018-06-04 02:20] HeitorIshihara opened #114 "Clan Information"
Is there a way to get clan informations?

[2018-06-04 07:17] HZooly commented on #114
@HeitorIshihara Clash Royale API doesn't provide real time data, you can't get clan informations. Maybe prefer [Royale API](https://github.com/RoyaleAPI/cr-api) for this kind of usage.

[2018-06-04 13:08] AmirSavand commented on #114
If there was a way, the endpoint for getting clan information would be included in the README API section.

[2018-06-05 04:18] HeitorIshihara commented on #114
@HZooly Thank you. I was trying to look for something like this but I wasn't successful.

[2018-06-05 04:18] #114 closed

[2018-06-05 07:12] HZooly commented on #114
This is the only public API I know for this need.

[2018-06-11 16:07] Redman1037 opened #115 "Can you add my app to read me please."
Hi Bro ,
      Thanks for the API , I am using it in my app for random deck generator , can you please add it on your read me  list .
Thanks.

App name : ClashElite
PlayStore Url : https://play.google.com/store/apps/details?id=com.wordpress.redmanandroid.clashelite

[2018-06-11 16:42] HZooly commented on #115
Hi @Redman1037,

Don't hesitate to do a pull request on this project.

[2018-06-11 17:37] Redman1037 commented on #115
Done created PR

[2018-06-11 17:40] martincarrera commented on #115
Added! Thanks!

[2018-06-11 17:40] #115 closed

[2018-06-23 19:40] martincarrera opened #119 "Add new cards and reorder existing cards"
The 20/6 update changed the order of the cards and introduced 2 new cards.

Update order and add new cards.

[2018-07-06 15:48] MaherFa opened #120 "[Discussion][Improvement]Add the new emotes"
since the summer update the game added multiple new emotes.
I managed to extract the latest files, but they are stored as **.png sprite sheets***
as the time of opening this issue the api have the old basic four emotes as animated .gif files
and animating the new emotes is not something I personally have the time for.
does anyone here have the experience and time to create them? or should we just

[2018-07-23 02:58] showmethecode9527 opened #121 "The skeletons' description is wrong?"
The skeletions'(the `_id` is "5b099537ab411c001423ec4d") description is (from `/api/cards`)

But in Clash Royal app, the description is

[2018-07-23 07:23] HZooly commented on #121
Hi! This has been fixed here https://github.com/martincarrera/clash-royale-api-data-generator/pull/21

Thanks for saying that, it will be available once @martincarrera merge

[2018-08-21 17:40] AmirSavand opened #124 "Official Clash Royale API"
With the release of the official API, does this mean this project will die anytime soon?

There's lots of changes to do, like sync the cards with the official API cards if this is going to be continued.

[2018-08-22 07:10] MaherFa commented on #124
I see no point in putting effort into this API anymore, the only advantage we have here is that we don't requite an api key. but maintaining this makes no sense anymore imo.

[2018-08-22 07:38] HZooly commented on #124
Cards informations (as example) is not so accurate than Martin's data.

`    {
      "name": "Mega Minion",
      "id": 26000039,
      "maxLevel": 11,
      "iconUrls": {
        "medium": "https://api-assets.clashroyale.com/cards/300/-T_e4YLbuhPBKbYnBwQfXgynNpp5eOIN_0RracYwL9c.png"
      }
    }`

See ? Missing description and other fields.. Of course, we can think Supercell will implement those

[2018-08-26 17:01] AmirSavand commented on #124
I think this project should remain for those who are still using it (like my Royale+ that I'm going to updated it eventually) and not be upgraded or improved...

[2018-08-27 07:15] HZooly commented on #124
It delivers data that is not provided yet by official API, I think we could keep maintaining it.

[2018-08-27 12:08] AmirSavand commented on #124
Yeah obviously not immediately but slowly.

The other thing is the random deck generator which is a good thing and I don't think it has anything to do with official API but that's about it.

[2019-03-22 17:51] sebsebseb1 commented on #124
Deck generator is good